body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 450px;
  max-width: 450px;
  background: #fefefe;
  color: #000;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  &.active {
    margin-left: -450px;
    transform: rotateY(100deg);
  }
  .sidebar-header {
    padding: 20px;
    height: 11vh;
  }
  .sidebar-content {
    height: 74vh;
    overflow: auto;
  }
  .sidebar-footer {
    height: 15vh;
    background: #fefefe;
  }
  ul {
    &.components {
      padding: 20px 0;
      border-bottom: 1px solid #47748b;
    }
    p {
      color: #fff;
      padding: 10px;
    }
    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        &:hover {
          color: #7386D5;
          background: #fff;
        }
      }
      &.active > a {
        color: #fff;
        background: #6d7fcc;
      }
    }
  }
}

ul {
  ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }
  &.CTAs {
    padding: 20px;
    a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
}

a {
  &.download {
    background: #fff;
    color: #7386D5;
  }
  &.article {
    background: #6d7fcc !important;
    color: #fff !important;
    &:hover {
      background: #6d7fcc !important;
      color: #fff !important;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  padding: 20px;
  transition: all 0.3s;
  overflow: auto;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #fff;
  span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s;
    &:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
    }
  }
  &.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-left: -250px;
    height: 100vh;
    //overflow: auto;
    transform: rotateY(90deg);
    &.active {
      margin-left: 0;
      transform: none;
    }
  }
  #sidebarCollapse {
    span {
      &:first-of-type, &:nth-of-type(2), &:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
      }
    }
    &.active span {
      margin: 0 auto;
      &:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
      }
    }
  }
}

.buttonPrint {
  padding: 30px;
  margin: 10px;
  background: #1b17f5;
}

.btn-sale {
  margin-bottom: 30px !important;
  border-radius: 0px !important;
}

.btn-total {
  border-radius: 0px !important;
}

.navbar-header {
  width: 100%;
  background: #fff;
}

.sidebar-content .table th, .sidebar-content .table td {
  padding: 0;
}

.text-right .form-control {
  margin-left: 10px;
  margin-right: -255px;
  width: 70%;
  padding: 0;
  background-color: #f1efef;
  border: 0;
}

.mr-1 {
  margin-bottom: 2px;
  margin-top: 1px;
}

.btn-xl {
  padding: 0.85rem 1.70rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0;
}
.bg-light {
    background-color: #fff !important;
}
.btn-footer {
  background: #0062cc;
  margin-top: 5px;
}
.badge {
    background-color: white;
    position: absolute;
    right: 5px;
    color: red;
    font-size: 14px;
 }

.card {
    cursor: pointer;
    padding: 15px;
    margin: 15px 0px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .card {
    cursor: default;
}
