
$box-shadow: 0 1px 3px rgba(0,0,0,0.08);

$border-color: #f2f2f2;

$bg-color: #f8f8f8;
$text-color: #484746;
$color-primary: #3aa3e3;
$color-error: #c9302c;

.typeahead {
    position: relative;
    display: block;
    background: #fff;
    &-open {
        border-bottom: 0;
        .form-control {
            background: #fff;
            box-shadow: $box-shadow;
            border: 1px solid $border-color;
        }
    }
    &-inner {
        position: relative;
    }

    &-selected {
        cursor: pointer;
        user-select: none;
        display: flex !important;
        justify-content: space-between;
        line-height: 15px;
    }
    &-dropdown{
        width: 100%;
        position: absolute;
        z-index: 45px;
        padding: 5px;
        background: #fefefe;
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        box-shadow: $box-shadow;
        z-index: 9999;
    }
    &-input {
        line-height: 13px;
        font-size: 13px;
        background: #fafafa;
        border: none;
        box-radius: 1px;
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        padding: 4px 8px;
        width: 100%;
        display: block;

        &-focus{
            outline-style: dotted;
            outline-width: 1px;
            outline-offset: 1px;
        }
    }
    &-input_wrap{
        position: relative;
    }
    &-list{
        display: block;
        margin: 0;
        padding: 0;
    }
    &-item {
        display: block;
        margin-bottom: 1px;
    }
    &-link{
        cursor: pointer;
        display: block;
        padding: 2px;
        background: #fff;

    }
    &-active{
        background: $color-primary !important;
        color: #fff;
    }
}
